{% extends "main.html" %}
{% block content %}
{% include "grocerheader.html" %}
<section class="main_content">
	<h3 class="header_maincontent">Delete</h3>
	<div class="div_change">
		<p> Are you sure you want to delete <strong>{{category.name}}</strong> ? </p>
		<form action="#" method = 'post'>
			<div class="change_item">			
				<button class="button_submit" type="submit">Delete</button>
				<a class="links_editcancel" href = '{{url_for('mainPage')}}'>Cancel</a>
			</div>
		</form>
	</div>
</section>
{% endblock %}
