{% extends "main.html" %}
{% block content %}
{% include "grocerheader.html" %}
<section class="main_content">
	<h3 class="header_maincontent">Log-In</h3>
	<div class="div_list">
	<!--Div to Contain the Sign in Button-->
		<div id = "button_signin">
			<span class = 'g-signin'
	            data-scope="openid email"
	            data-clientid={{CLIENT_ID}}
	            data-redirecturi="postmessage"
	            data-accesstype="offline"
	            data-cookiepolicy="single_host_origin"
	            data-callback="signInCallback"
	            data-approvalprompt="force">			
			</span>
		</div>
		<div id='result'></div>

		<script>
			function signInCallback(authResult) {
				if (authResult['code']) {
					$('#button_signin').attr('style', 'display:none');
					$.ajax({
						type: 'POST',
						url: '/gconnect?state={{STATE}}',
						processData: false, 
						contentType: 'application/octet-stream: charset=utf-8', 
						data: authResult['code'],
						success: function(result){
							if (result){
								$('#result').html('<h3>Login sucessful</h3>' + result + '<p>Redirecting.... </p>')
								setTimeout(function() {
									window.location.href = "/main_page";
								}, 4000);
							} 
							else if (authResult['error']) {
								console.log('there was an error: ' + authResult['error']);
							}
							else {
								$('#result').html('Failed to make a server side call. Check your configuration and console. Do you have a relevant Client Id?')
							}
						}
					});

				}
			}
		</script>
	</div>
</section>
{% endblock %}